body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

#app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin-bottom: 30px;
}

button {
  width: 200px;
  padding: 15px;
  margin: 10px 0;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  background-color: #1976d2;
  color: white;
}
